@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: antiquewhite;
  font-family: "Nanum Myeongjo", serif;
}
nav {
  font-family: "Lobster", cursive;
  color: rgb(236, 237, 209);
  position: sticky;
  top: 0;
}
nav ul {
  display: flex;
  list-style: none;
  background: url(img/music\ flway.gif);
  height: 12vh;
  align-items: center;
}
nav ul li {
  padding: 0px 2vw;
}
.brand img {
  height: 8vh;
}
.text {
  display: flex;
  padding: 10vw;
  font-weight: bolder;
  font-size: 1.3vw;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 4vh;
}
.brand2 {
  padding: 0px 0px 0px 15vw;
}
.container {
  min-height: 68.5vh;
  background-color: black;
  color: white;
  display: flex;
  width: 75%;
  margin: 23px auto;
  border-radius: 5vh;
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.heading {
  margin: 4vh 20vw;
}
.heading1 {
  padding: 0px 30px;
}
.heading2 {
  font-weight: 60px;
}
.bottom {
  position: sticky;
  height: 13vh;
  background-color: black;
  color: white;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#myProgressBar {
  width: 80vw;
  cursor: pointer;
}
.icons {
  margin-top: 2vh;
}
.icons i {
  cursor: pointer;
  padding: 0px 0.5vw;
}
.songItem {
  height: 40px;
  display: flex;
  background-color: white;
  width: 30vw;
  color: black;
  margin: 22px 60px;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
}
.songItem img {
  width: 50px;
  height: 41px;
  border-radius: 3px;
}
.timeStamp {
  margin: 0px 23px;
}
.songInfo {
  position: absolute;
  left: 10vw;
}
.songInfo img {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
